<style>
.tweetbtn{
  margin:100px auto;
  width:100%;
  border-radius:30px;

} 
.custom-file{
  margin:20px 0 ;
}


.container{
  margin-top:80px;
}
</style>



<div class="contents row">
  <div class="container">
    <%= form_with(model: @pet, local: true) do |form| %>
    <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>