    <div class="custom-file">
    <%= form.file_field :image,class:"custom-file-input",id:'customFileLang', lang:"es" %>
    <label class="custom-file-label" for="customFileLang">画像を選べ</label>
    </div>
      <%= form.text_area :text,class:"form-control" ,placeholder: "text" , rows: "5" %>
      <%= form.submit class:"tweetbtn btn-primary" %>