
<style>
.success{
 margin: 40px auto;
}
.backbtn{
  border-radius:30px;
  margin:60px;
}

</style>



<div class="contents row">
  <div class="success">
    <h3>
      投稿が完了しました。
    </h3>
    <a class="backbtn" href="/tweets">投稿一覧へ戻る</a>
  </div>
</div>