<!DOCTYPE html>
<html>
<head>
<title>pettweet</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card-columns{
  max-width:800px;
  margin: 100px auto;
  
}

.tweet-list{
  padding: 0;
}
</style>
</head>
<body>
<div class="card-columns">
    <% @tweets.each do |tweet| %>
 <%= render partial: "tweet", locals: { tweet: tweet } %>
<%end%> 
<%= paginate(@tweets) %>
</div>
</body>
</html>