<!DOCTYPE html>
<html>
<head>
<title>pettweet</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card-columns{
  max-width:900px;
  margin: 20px auto;
}

</style>
</head>
<body>
<div class="card-columns">
    <% @tweets.each do |tweet| %>
 <%= render partial: "tweet", locals: { tweet: tweet } %>
<%end%> 
</div>
</body>
</html>