<style>
.tweetbtn{
  margin:20px auto;
  width:100%;
  border-radius:30px;

} 
.custom-file{
  margin:20px 0 ;
}
h1{
  text-align:center;
}
</style>



<div class="contents row">
  <div class="container">
  <h1>tweet!</h1>
    <%= form_with(model: @tweet, local: true) do |form| %>
    <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>